footer
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')

    script(src='https://cdn.socket.io/socket.io-1.2.0.js')

    script(src='https://cdn.firebase.com/js/client/2.1.0/firebase.js')

    script(src='http://d3js.org/d3.v3.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js')

    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(type='text/javascript').
      $(document).ready(function() {
      var t = new Trianglify({cellsize: 180, cellpadding: 5, noiseIntensity: 0.3,
      fillOpacity: 0.4, strokeOpacity: 0.0});
      var pattern = t.generate($(window).width(), $(window).height());
      document.body.setAttribute('style', 'background-image: ' + pattern.dataUrl);});
