/* CSS crunched with Crunch - http://crunchapp.net/ */
/*Constants*/
/*Colors*/
/*Fonts*/
.fontLight {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.fontItalic {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.fontBold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*Body Styles*/
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
  text-shadow: 5px 0px 0px #88a198;
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
}
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #88a198;
}
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: #88a198;
  letter-spacing: 3px;
  line-height: 24px;
}
.border {
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/*Index Page*/
/*Headers*/
.welcomeTitle {
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  text-shadow: 0.2px 0px 1px #d5f70f;
  position: relative;
}
.mainTitle {
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  position: relative;
}
.subtitle {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
  height: 40px;
  text-shadow: none;
  margin-top: 25px;
  position: relative;
}
/*Search*/
.searchContainer {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.search {
  width: 650px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}
.search input[type="text"] {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 60px;
  padding-left: 20px;
  padding-right: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  appearance: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.47);
  color: #88a198;
}
.search input[type="text"]:focus {
  outline: none;
}
input#magGlass {
  width: 43px;
  height: 43px;
  position: relative;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(/images/magGlass@2x.png);
  background-size: 43px 43px;
  background-color: transparent;
  border: 0;
  border-color: transparent;
  overflow: hidden;
  top: -50px;
  left: -90px;
}
/*Donation Total Area*/
.donationContainer {
  width: 600px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}
.donationAmount {
  width: 600px;
  height: 25px;
  position: relative;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  text-shadow: 0.2px 0px 1px #88a198;
}
.donationOrganizations {
  width: 600px;
  min-height: 300px;
  position: relative;
  float: left;
  margin-top: 10px;
}
