/*Constants*/

  /*Colors*/

  @white: #fff;
  @grey: #555e5d;
  @red: #fd4f57;
  @yellow: #d5f70f;
  @mint: #88a198;

  /*Fonts*/

  @font:'Open Sans Condensed', sans-serif;

  .fontLight {
    font-family: @font;
    font-weight: 300;
    font-style: normal;
  }

  .fontItalic {
    font-family: @font;
    font-weight: 300;
    font-style: italic;
  }

  .fontBold {
    font-family: @font;
    font-weight: 700;
    font-style: normal;
  }


/*Body Styles*/

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

h1 {
  .fontBold;
  font-size: 120px;
  text-shadow: 5px 0px 0px @mint;
  text-align: center;
  color: @white;
  letter-spacing: 5px;
}
h2 {
  .fontLight;
  font-size: 80px;
  text-align: center;
  color: @white;
  letter-spacing: 3px;
}

h3 {
  .fontBold;
  font-size: 20px;
  text-align: center;
  color: @white;
}

.border {
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*Index Page*/

.welcomeTitle {
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  text-shadow: .2px 0px 1px @yellow;
  position: relative;

}

.mainTitle {
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  position: relative;
  }

.subtitle {
  .mainTitle;
  width: 100%;
  height: 20px;
  text-shadow: none;
  margin-top:40px;
  position: relative;

}

.searchContainer {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.search {
  width: 650px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}

.search input[type="text"] {
  display: block;
  margin: 0;
  width: 650px;
  .fontLight;
  font-size: 35px;
  appearance: none;
  box-shadow: none;
  .border;
  text-align: center;
  background: @white;
  opacity: 0.56;

}
.search input[type="text"]:focus {
  outline: none;
}

input#magGlass {
  width: 43px;
  height: 43px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(/images/magGlass@2x.png);
  background-size: 43px 43px;
  border:none;
}
