/*Constants*/

  /*Colors*/

  @white: #fff;
  @grey: #555e5d;
  @red: #fd4f57;
  @yellow: #d5f70f;

  /*Fonts*/

  @font:"open-sans-condensed";

  .fontLight {
    font-family: @font;
    font-weight: 300;
    font-style: normal;
  }

  .fontItalic {
    font-family: @font;
    font-weight: 300;
    font-style: italic;
  }

  .fontBold {
    font-family: @font;
    font-weight: 700;
    font-style: normal;
  }


/*Document Resets*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Index Page*/

.welcomeTitle {
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 40px;
  .fontLight;
  font-size: 35px;
  color: @white;
  text-shadow: 1px 0px 6px @yellow;
}
